body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #e5ddd5;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 0;
}

.card-header {
  background-color: #128c7e;
  color: #fff;
  border-radius: 0;
}

.card-body {
  padding: 20px;
}

.list-group-item {
  border: none;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #e9ecef;
}

.chat-messages {
  max-height: 400px;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.chat-message-left img,
.chat-message-right img {
  border-radius: 50%;
  margin-right: 10px;
}

.chat-message-left .flex-shrink-1,
.chat-message-right .flex-shrink-1 {
  max-width: 70%;
}

.chat-message-left .font-weight-bold,
.chat-message-right .font-weight-bold {
  color: #333;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.px-4 {
  padding-right: 15px;
  padding-left: 15px;
}

.border-top {
  border-top: 1px solid #ccc;
}

.input-group {
  margin-top: 20px;
}

.form-control {
  border-radius: 20px;
}

.btn-primary {
  background-color: #34b7f1;
  border-color: #34b7f1;
  border-radius: 20px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #25d366;
  border-color: #25d366;
}

.btn-secondary {
  background-color: #128c7e;
  border-color: #128c7e;
}

.btn-secondary:hover {
  background-color: #075e54;
  border-color: #075e54;
}

.no-users-message {
  padding: 10px;
  text-align: center;
  color: #999;
}

.users {
  margin-top: 100px;
}
  