<main>
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-5 bg-light">
        <div class="d-flex align-items-center p-3 bg-custom text-white">
          <input 
            type="email" 
            formControlName="email" 
            placeholder="Enter email" 
            *ngIf="showInput" 
            (keyup.enter)="findUsersByEmail(emailInput.value)" 
            (input)="findUsersByEmail(emailInput.value)"
            #emailInput
            class="form-control me-2"
          >
          
          <button class="btn btn-light btn-sm" (click)="toggleInput()">New Chat</button>
        </div>
        <div *ngIf="selectedUsers.length > 0" class="list-group position-absolute w-100" style="z-index: 1000;">
          <button type="button" class="list-group-item list-group-item-action" *ngFor="let user of selectedUsers" (click)="selectUser(user)">
            <img [src]="user.avatar_url" alt="{{user.full_name}}" class="rounded-circle me-2" width="32" height="32">
            {{user.full_name}} <span class="text-muted">{{ user.email }}</span>
          </button>
        </div>
        
        <ul class="list-group list-group-flush">
          <li *ngFor="let conversation of conversations" class="list-group-item d-flex align-items-center">
            <img src="https://via.placeholder.com/40" class="rounded-circle me-2" alt="User Avatar" width="40" height="40">
            {{ conversation.name }}
          </li>
        </ul>
        
      </div>

      <div class="col-lg-8 col-md-7">
        <div class="d-flex align-items-center p-3 bg-custom text-white">
          <h5 class="mb-0 flex-grow-1">Yadidiah</h5>
          <button class="btn btn-secondary" (click)="logOut()">Log out</button>
        </div>
        <div class="chat-messages p-4 bg-light" style="height: 400px; overflow-y: scroll;">
          <div class="chat-message-left pb-4">
            <div class="me-3">
              <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1687699216/photo_5960666862087946083_w.jpg" class="rounded-circle" alt="Sharon Doe" width="40" height="40">
              <div class="text-muted small text-nowrap mt-2">5:54 am</div>
            </div>
            <div class="flex-shrink-1 rounded py-2 px-3 ml-3 bg-custom-light">
              <div class="fw-bold mb-1 text-custom">Sharon Doe</div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid at ullam reiciendis consequatur quis similique ea sapiente, voluptatem voluptate quia magnam a non corrupti unde accusantium maiores? Explicabo, maiores inventore!</p>
            </div>
          </div>
        </div>
        <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
          <div class="py-3 px-4 border-top bg-light">
            <div class="input-group">
              <input formControlName="chat_message" type="text" class="form-control" placeholder="Type your message">
              <button [disabled]="!chatForm.valid" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</main>
