<section class="login-block min-h-screen d-flex align-items-center justify-content-center" style="background-color: #e5ddd5;">
  <div class="max-w-md w-full space-y-8">
    <div class="rounded-md shadow-md overflow-hidden">
      <button (click)="handleAuth()"
        class="btn btn-lg btn-google btn-block text-white bg-danger hover:bg-danger-dark text-center py-2">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1712537582/google-logo.png"
          class="inline-block w-6 h-6 mr-2" alt="Google Logo"> Signup Using Google
      </button>
    </div>
  </div>
</section>
